.header
  position relative
  padding: 24px 0
  border-bottom: 1px solid $backgroundColorLighter
  &__container
    position relative
    margin: auto
    max-width: 1128px
    padding: 0 24px
  &__logo
    img
      width: 100px
.header::before
  content: ''
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 700px
  background: #242830
  background: linear-gradient(80deg, rgba(36,40,48,0.5) 0%, rgba(36,40,48,0) 100%)
  -webkit-transform-origin: 0
  transform-origin: 0
  -webkit-transform: skewY(-12deg)
  transform: skewY(-12deg)
