.el-col__bottom-margin
  margin-bottom: 20px

.el-link,
.el-table thead th
  font-weight normal

.el-link.el-link--primary
  color: #00adff

.el-card,
.el-input__inner,
.el-table tr
  background: $backgroundColor

.el-loading-mask
  background: rgba(55, 60, 68, 0.7)

.el-card__header
  background: #354256