html, body
  background: $backgroundColorLight
body
  font-family $IBMPlex
  font-weight 200
  &.is-fixed
    overflow: hidden

.page-wrapper
  margin-top: 40px

.container
  position relative
  width: 100%
  max-width 1128px
  padding 0 24px
  margin 0 auto

.text-center
  text-align: center

.text-right
  text-align: right

.hr
  height: 1px
  width: 100%
  background: $backgroundColorLighter

.spacer
  height: 20px
.spacer2x
  height: 40px
.spacer4x
  height: 80px


.type-icon
  padding: 0 40px
