html, body
  background: $backgroundColor
body
  font-family $Roboto
  &.is-fixed
    overflow: hidden

.page-wrapper
  margin-top: 20px

.container
  position relative
  width: 100%
  max-width 1280px
  padding 0 20px
  margin 0 auto

.text-center
  text-align: center

.text-right
  text-align: right

.hr
  height: 1px
  width: 100%
  background: #121820

.spacer
  height: 20px
.spacer2x
  height: 40px
.spacer4x
  height: 80px


.type-icon
  padding: 0 40px