$IBMPlex = 'IBM Plex Sans', sans-serif
$backgroundColorLighter = rgba(138,148,167,0.24)
$backgroundColorLight = #1D2026
$backgroundColor = #15181D
$backgroundAccentColor = #2C3039
$backgroundColorWithOpacity = rgba(21,24,29,0.6)



$primaryBlue = #097dea
$primaryBlueHovered = #0982f4

// lisk.observer like colors
// $backgroundColorLighter = #4a4a6a
// $backgroundColorLight = #25253a
// $backgroundColor = #1e1e2f
// $backgroundAccentColor = #27293d